.bs-header {
  position: relative;
  padding: 10px 0px;
  font-size: 14px;
  color: #eee;
  background-color: #333;
  background-image: -webkit-linear-gradient(top, #333 0%, #111 100%);
  background-image: linear-gradient(to bottom, #333 0%, #111 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#111', GradientType=0);
}

.bs-header h1 { font-size: 16px;  margin-top: 0;  color: #fff;}
.bs-header p {  margin-bottom: 0;  font-weight: 300;  line-height: 1.2;}
.media-object {  width: 18px;  height: 18px;  border-radius: 5px;}
.media .thumbnail {  display: inline-block;  margin-bottom: 0;}
.media-list {  text-align: center;}
.media-heading h3 {margin: 0px; font-size: 14px;}
@media (min-width: 450px) {  
.media-list {    text-align: left;  }
.media .thumbnail {    float: left;    margin-right: 25px;  }
}

.media:first-child {  margin-top: 15px;}
.btn-outline {  color: #563d7c;  background-color: transparent;  border-color: #563d7c;}
.btn-outline:hover,.btn-outline:focus,.btn-outline:active {  color: #fff;  background-color: #563d7c; border-color: #563d7c;}

a {  color: #563d7c;}

a:hover, a:focus { color: #1d1429;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {  border-color: #563d7c;
}
